<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= campground.title %> Campground</title>
  </head>
  <body>
    <h1><%= campground.title %> Campground</h1>
    <h2><%= campground.location %></h2>
    <h3><a href="/campgrounds/<%=campground._id%>/edit">Edit</a></h3>
    <h3><a href="/campgrounds">Go Back</a></h3>
  </body>
</html>
